.container-destination {
  background: url(/images/background-destination-desktop.jpg);
  height: 100vh;
  //   max-width: 1800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  //   background-position: right;
  @include respond(tab-land) {
    background: url(/images/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  @include respond(tab-port) {
    background: url(/images/background-destination-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  @include respond(phone) {
    height: auto;
    overflow-y: hidden;
    background: url(/images/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
  }
}

.planet__header {
  margin-left: 17rem;
  margin-top: 6rem;
  @include respond(tab-land) {
    margin-left: 5rem;
  }
  @include respond(phone) {
    display: flex;

    margin-left: 0;
    justify-content: center;
  }
}

.planet {
  display: flex;
  justify-content: center;
  gap: 18rem;
  @include respond(tab-land) {
    flex-direction: column;
    gap: 10rem;
    align-items: center;
  }
  &__img {
    @include respond(tab-land) {
      width: 40%;
    }
    img {
      width: 110%;
      height: auto;
      @include respond(tab-land) {
        width: 100%;
      }
    }
  }

  &__description {
    max-width: 50rem;
    @include respond(tab-land) {
      min-width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 2.7rem;
  }

  &__ul {
    position: relative;
    display: flex;
  }

  &__item {
    list-style-type: none;

    margin-right: 2.2rem;
  }

  &__link {
    position: relative;
    font-size: 2rem;
    color: $color-secondary;
    text-decoration: none;
    font-weight: 100;
    font-family: $family-Barlow;
    &:hover {
      color: $color-primary;
    }

    &::before {
      position: absolute;
      content: "";
      background-color: $color-primary;
      width: 100%;
      transform: scaleX(0);
      height: 0.2rem;
      bottom: -1rem;
      transform-origin: right;
      transition: transform 0.25s ease-in;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  &__data {
    margin-top: 2rem;
    display: flex;
    @include respond(tab-land) {
      gap: 20vw;
      margin-bottom: 12rem;
    }

    &--distance {
      margin-right: 4rem;
    }
    @include respond(phone) {
      flex-direction: column;
      gap: 10vw;
      margin-bottom: 5rem;

      justify-content: center;
      text-align: center;

      &--distance {
        margin-right: 0rem;
      }
    }
  }
}
